[Unit]
Description=Detects when your YubiKey is waiting for a touch

[Service]
ExecStart=/usr/bin/yubikey-touch-detector

[Install]
WantedBy=default.target
