[Unit]
Description=Detects when your YubiKey is waiting for a touch

[Service]
Environment="ARGS=%I"
ExecStart=/usr/bin/yubikey-touch-detector $ARGS

[Install]
WantedBy=default.target
